<!DOCTYPE html>
<html>
<head>
  <title>Getting married in a really big house in the country</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'jquery-ui', 'jquery.easing', 'jquery.mousewheel', 'jquery.fancybox', 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="header">
	<% if current_guest %>
		<div id="greeting">Hi <%= current_guest.name %>!</div>
	<% end %>
	<div id="primary-nav">
		<%= render 'shared/nav' %>
	</div>

	<div id="secondary-nav">
	</div>
</div>
<div id="container">
		<div id="content">
			<%= yield %>
		</div>
	<hr class="bottom" />
</div>

</body>
</html>
